body {
    margin:0;
    background: url("../active box/intro_bg.jpg") center no-repeat;
    font-family: Tahoma;
    line-height: 1.5;
    font-size: 20px;
    
}
.up {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgb(93, 82, 197);
    margin-left: 28%;
}
.card {
    width: 500px;
    margin: 30px auto;
    background-color: #E5E8E8;
    box-shadow: 0 5px 2px #ccc;
    border-radius: 10px;
    padding: 20px;
    
}
.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;

}
.card-title {
    font-size: 20px;
    text-align: center;
    color:mediumpurple;
}
.card-text {
    font-size: 14px;
}
.card-subtitle {
    font-size: 18px;
    color:mediumorchid;
}
.card-list {
    padding-left: 0%;
    list-style-type: disc;
    list-style-position: inside;
    font-size: 14px;
    
}
footer {
    font-family: Tahoma;
    font-size: 14px;
}
